<div class="container-fluid" layout="row" layout-fill>

    <app-header></app-header>
    <md-content class="content" md-scroll-y layout="row" flex>
        <div layout="column">
            <app-sidenavigation></app-sidenavigation>
        </div>
        <div layout="column" class="main">
            <router-outlet></router-outlet>
            <form [formGroup]="form">
                <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
            </form>
        </div>


    </md-content>
    <app-footer layout="row"></app-footer>

</div>